.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  margin: 50px 40px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  opacity: 1;
  transform: scale(1.03);
}

.language {
  margin-top: 0px;
  margin-bottom: 0px;
}

.description {
  margin-top: 5px;
}

.link-div {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .card-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

/* @media only screen and (max-width: 450px) { */
/*Small smartphones*/
/* .homepage-intro { */
/* margin: 20px 50px 50px 50px; */
/* } */
/* } */
